# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET= "dVuqzHqTIumvB0lRzkkTU8MjubZ1qQGy2WDsOiUKenA="

# Next Auth Discord Provider
AUTH_DISCORD_ID="dsdsd"
AUTH_DISCORD_SECRET="sdsdsd"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID = "235819052362-blnl0hhb4vdr6htrm31ane6mpcu5cql2.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
GOOGLE_REDIRECT_URI = "http://localhost:3000/api/auth/callback/google"

# Drizzle
DATABASE_URL="postgresql://neondb_owner:5DZcJury6dYt@ep-sparkling-snow-a5dibw69.us-east-2.aws.neon.tech/neondb?sslmode=require"
